:root{
  --main-color:#eb4d4b;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a{
	 text-decoration:none;  
	 cursor: pointer;
}

li{
	 list-style: none;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #d5dae5;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	width:100%;
  	height:100%;  
  	overflow-x: hidden;
}

/*start header*/
.header {
	position: absolute;
	width: 100%;
	z-index: 3;
	height: 44px;
	background-color: #fff;
	border-bottom: 3px solid #2d3d51;
}
/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
	height: 44px;
	padding: 10px;
	font-weight: 700;
}
.header .logo {
	color: #233245;
}
.side-nav .logo {
	background-color: #233245;
	color: #fff;
}
.header .logo {
	float: left;
}
.header .logo {
	height: 44px;
	z-index: 1;
	padding: 10px;
	font-weight: 700;
	color: #233245;
}
.logo  i {
	font-size: 22px;
}
.logo span {
	margin-left: 5px;
	text-transform: uppercase;
}
.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 30px;
	display: block;	
}
.nav-trigger span, .nav-trigger span:before, span:after {
	width: 20px;
	height: 2px;
	background-color: #35475e;
	position: absolute;
}
.nav-trigger span {
	top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
	content: '';
}
.nav-trigger span:before {
	top: -6px;
}
.nav-trigger span:after {
	top: 6px;
}
/* side navigation styles */
.side-nav {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #35475e;
	z-index: 1;
	display: none;
}
.side-nav.visible {
	display: block;
}
.side-nav ul {
	margin: 0;
	padding: 0;
}
.side-nav ul li {
	padding: 16px 16px;
	border-bottom: 1px solid #3c506a;
	position: relative;
}
.side-nav ul li:last-child{
  position: absolute;
  bottom:1%;
  width:100%;  
  padding-left:1.2em; 
}
.side-nav ul li.active:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--main-color);
}
.side-nav ul li a {
	color: #fff;
	display: block;
	text-decoration: none;
}
.side-nav ul li i {
	color: #fff;
	min-width: 20px;
	text-align: center;
}
.side-nav ul li span:nth-child(2) {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 600;
}
/* main content styles */
.main-content {
	margin-top: 0;
	padding: 0;
	padding-top: 44px;
	height: 100%;
   width: 100%;
}
.main-content .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #b8bec9;
	padding: 10px 20px;
	font-weight: 700;
	color: #333;
	font-size: 18px;
	text-transform: uppercase;
	width:100%; 
}
.title__h3{
	 display: inline-block;
}
.title__p{
	 display: inline-block;

	 padding-left:1.2em; 
}
.profile{
	 float: right;
	 
	 height:100%;
}
.profile__item{
	 padding-right:0.5em; 
	 color: #84817a;
}
/* main box container */
.main {
	display: flex;
	flex-flow: row wrap;
}
.widget {
	flex-basis: 300px;
	flex-grow: 10;
	height: 300px;
	margin: 15px;
	border-radius: 6px;
	background-color: #ffffff;
	position: relative;
}
.widget .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #617085;
	font-weight: 600;
}
.ad {
	width: 350px;
	height: 300px;
	border: 1px solid #ddd;
}
/* start lists */
/* add new item */
.new-items{
   position: fixed;
   width:100%;
   height:100vh;
   z-index:999; 
   background-color:#a52424;
   margin-left:6px;  
   justify-content: center;
   display: none;
}
.new-items_conatiner{
   position: absolute;
   top:17%;
   height:auto;
   width:50%;    
   background-color:#fff;
   display: block; 
   border-radius:5px; 
   padding:2em; 
   line-height:40px; 
   text-transform: capitalize;
}
.new-items_form{
   width:100%; 
}
.new-items_select,.new-items_input{
   width:100%; 
   padding:0.5em; 
   font-size:1.2em;
   text-transform: uppercase; 
}
.new-items_label{ 
 display: block;
 font-size:1.5em; 
 }
/* start conatiner*/
.pd-1{
   padding: 1em;
}
.container{
	 width:100%;
	 height:100%;
	 background-color:#fff;
	 border:1px solid #f1f1f1;
	 padding-top:2em;    
}

.add-new{
	 background-color:var(--main-color);
	 border:none;
	 text-transform: uppercase;
	 color:#fff;
	 padding:1em 1.2em;
	 font-weight: bolder; 
	 float: right;
	 margin:1em; 
	 cursor: pointer;  
}

.add-new_float{
   float: left;
   margin-left:0; 
}

/* start table */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;

  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}
table th,
table td {
  padding: .625em;
  text-align: left;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: capitalize;
}
 td:not(.email){
   text-transform: capitalize;
}
.fa-trash-alt{
	 color:#d63031; 
	 margin-left:5px; 
}
.fa-edit{
	color:#fdcb6e; 
}
td.blood-type{
  text-transform: uppercase;
}
.not-done,.done { 
  width:8px;
  height:8px;
  border-radius:100%;
}
.not-done{
  background-color:#f00;
}
.done{
  background-color:#26de81;

}

/* tab content */
.tabcontent {
  display: none;
  padding: 0px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* start account setting */
.title-h2{
   padding: 0.5em
}
hr{
   margin: 0.7em;
}
.account-setting__form{
   width: 100%;
   padding:1em;
   position: relative;
   color:#777; 
  }
  .form-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}
.form-container:last-child{
  grid-template-columns: repeat(4,1fr);

}

.account-setting__form h3{
   margin-bottom:1em;
   color:#555; 
}
.account-setting__input{
  width: 92%;
  padding-top: .7em;
  padding-bottom: .7em;
  font-size: 1.1em;
  border: 1px solid #ecf0f1;
  border-radius: 3px;
  padding-left:0.4em;
  margin-top:10px;
}
.account-setting__label{
   display: block;
   font-size:1.2em;
}
.change{
 padding: 1em;
}
.change__btn{
  background: #0984e3;
  padding: 0.5em 2.3em;
  border: none;
  color: #fff;
  font-size: 1.2em;
  margin-top: 1.1em;
  cursor: pointer;
}
/*start account setting*/
.save{
  width:100%;
  padding:1em;  
}
.save__btn{
   background-color: #2CD257;
  padding: 0.5em 2.3em;
  border: none;
  color: #fff;
  font-size: 1.2em;
  margin-top: 1.1em;
  cursor: pointer;
}
/*start media*/
/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
	.header {
		background-color: #35475e;
		z-index: 1;
	}
	.header .logo {
		display: none;
	}
	.nav-trigger {
		display: none;
	}
	.nav-trigger span, .nav-trigger span:before, span:after {
		background-color: #fff;
	}
	.side-nav {
		display: block;
		width: 70px;
		z-index: 2;
	}
	.side-nav ul li span:nth-child(2) {
		display: none;
	}
	.side-nav .logo i {
		padding-left: 12px;
	}
	.side-nav .logo span {
		display: none;
	}
	.side-nav ul li i {
		font-size: 26px;
	}
	.side-nav ul li a {
		text-align: center;
	}
	.main-content {
		margin-left: 70px;
	}
}
@media screen and (min-width: 600px) and (max-width:800px){
 .tabcontent {
    padding:0; 
   }
   .main-content{
     margin-left:63px; 
   }
}

@media screen and (min-width: 600px) and (max-width:950px){
  .form-container:last-child{
     grid-template-columns:repeat(3,1fr); 
   }
   .change{
     padding:0; 
   }
}
/* set element styles for desktop */
@media screen and (min-width: 800px) {
	.side-nav {
		width: 200px;
	}
	.side-nav ul li span:nth-child(2) {
		display: inline-block;
	}
	.side-nav ul li i {
		font-size: 16px;
	}
	.side-nav ul li a {
		text-align: left;
	}
	.side-nav .logo i {
		padding-left: 0;
	}
	.side-nav .logo span {
		display: inline-block;
	}
	.main-content {
		margin-left: 182px;
	}

}
@media screen and (min-width: 1101px) {
.availabel td,.availabel th{
  padding-left:3em; 
}
.center{
   text-align: center;
}
.right{
   text-align: right;
   margin-right:8px; 
}
.charity table th,
.charity table td {
   text-align: left;
}
.done,.not-done{ 
 margin: auto;
}
}

@media screen and (max-width: 600px) {
  .tabcontent {
    padding:0; 
   }
  /*start new item*/
  .new-items{
     width:100%;
     height:100%;
     margin: 0;
  }
  .new-items_conatiner{
     width:80%; 
  }
}
@media screen  and (min-width: 500px)  and (max-width:599px) {
  .form-container:last-child {
     grid-template-columns:repeat(2,1fr); 
        grid-row-gap: 10px;
  }
}
@media screen  and (max-width:499px) {
  .form-container:last-child {
     grid-template-columns:repeat(1,1fr); 
     grid-row-gap: 14px;
  }
  .change{
     padding:0; 
  }
}
@media screen and (max-width: 1100px) {
  /*start tabel*/
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.show{
  display: flex;
}