@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
:root {
  --backgroundColor: white;
  /* --main-color: #d32f2f; */
  --main-color: #ea2f2f;
  /* --second-color: #0c1323; */
  --second-color: #2c3e50;
  --text-color: #414141;
  --other-color: #bac1d2;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--backgroundColor);
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--second-color);
  font-weight: bold;
}
h2 {
  color: var(--second-color);
}

ul {
  list-style: none;
}

.button {
  display: inline-block;
  background: none;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 1em;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.button:hover {
  color: white;
  background-color: var(--main-color);
}

.button:active {
  position: relative;
  top: 1px;
}

.dark {
  background-color: var(--main-color);
  color: #fff;
}

.icon {
  position: absolute;
  top: 5%;
  right: 25%;
}

.icon::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 30px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.icon--error::after {
  content: "\f00d";
  color: var(--main-color);
}

.grid {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.menu-small {
  display: none;
  position: absolute;
  width: 28px;
  height: 22px;
  top: 21px;
  right: 12px;
  z-index: 2;
  cursor: pointer;
}

.menu-small .one,
.menu-small .two,
.menu-small .three {
  width: 100%;
  height: 5px;
  background: var(--second-color);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 5px auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu-small.active .one {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}

.menu-small.active .two {
  opacity: 0;
}

.menu-small.active .three {
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}

.nav-bc {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: white;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.main-nav {
  width: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 10vh;
  margin-bottom: 4em;
}

.main-nav .logo {
  max-width: 100%;
}

.main-nav .logo img {
  max-width: 60%;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav ul li {
  padding: 0 1em;
}

.main-nav ul.main-nav__link li a {
  padding-bottom: 0.4em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-nav ul.main-nav__link li a:hover {
  border-bottom: 2px solid var(--main-color);
}

.main-nav ul.main-nav__right li.user-btn {
  display: none;
}

.main-nav .menu-small {
  display: none;
  position: absolute;
  width: 28px;
  height: 22px;
  top: 16px;
  right: 12px;
  z-index: 2;
  cursor: pointer;
}

.main-nav .menu-small .one,
.main-nav .menu-small .two,
.main-nav .menu-small .three {
  width: 100%;
  height: 5px;
  background: var(--second-color);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 5px auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.main-nav .menu-small.active .one {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}

.main-nav .menu-small.active .two {
  opacity: 0;
}

.main-nav .menu-small.active .three {
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}

.main-header {
  margin-bottom: 4em;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.main-header__desc {
  width: 90%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 1em;
}

.main-header__desc h2 {
  color: var(--second-color);
  font-size: 2.6em;
  margin: 0.5em 0;
  font-weight: bold;
}

.main-header__desc h2 span {
  color: var(--main-color);
}

.main-header__desc p {
  margin: 0;
  color: var(--text-color);
  font-size: 1.2em;
}

.main-header__desc p span {
  font-weight: 600;
}

.main-header__desc a {
  margin: 1.4em;
  text-align: center;
}

.main-header__img {
  width: 100%;
  text-align: center;
}

.about {
  padding: 5em 0;
  background: url("./image/bc_about.svg") no-repeat center center/contain;
}

.about__container {
  width: 70%;
  background-color: #fff;
  text-align: center;
  margin: auto;
  border-radius: 3em 0 3em 0;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.09),
    -1px -2px 3px rgba(0, 0, 0, 0.09);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.09), -1px -2px 3px rgba(0, 0, 0, 0.09);
  padding: 0.5em 2em;
}

.about__container h2 {
  font-size: 2em;
}

.about__container h2:after {
  display: block;
  content: "";
  width: 2em;
  height: 3px;
  margin: 10px auto;
  background-color: var(--main-color);
}

.about__container p {
  width: 95%;
  text-align: center;
  font-size: 17.5px;
  line-height: 1.6;
  margin: 0 auto 1em;
  color: var(--text-color);
}

.about__container a.button {
  margin: 1em 0 1.7em;
  padding: 9px 17px;
}

.about__container a.button .arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about__container a.button:hover .arrow {
  margin-left: 0.4em;
  border-top: 2px solid var(--second-color);
  border-right: 2px solid var(--second-color);
}

.acceptable {
  padding: 4em 0;
  margin-top: 2em;
  margin: 3em auto;
}

.acceptable__header {
  text-align: center;
}

.acceptable__header h2 {
  font-size: 2em;
}

.acceptable__header h2:after {
  display: block;
  content: "";
  width: 2em;
  height: 3px;
  margin: 10px auto;
  background-color: var(--main-color);
}

.acceptable__header p {
  width: 60%;
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0 auto 1em;
  color: var(--text-color);
}

.acceptable__header p span {
  color: var(--main-color);
  font-weight: bold;
  display: block;
  margin-top: 1em;
}

.acceptable__header--menu {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.acceptable__header--menu li {
  width: 2.4em;
  height: 2.4em;
  line-height: 2.4em;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  cursor: pointer;
}

.acceptable__header--menu li:hover,
.acceptable__header--menu li.active {
  background-color: var(--main-color);
  color: var(--second-color);
}

.acceptable__header--menu li:active {
  position: relative;
  top: 1px;
}

.acceptable__main {
  padding-top: 1em;
  -webkit-transition: display 0.3s ease-in-out;
  transition: display 0.3s ease-in-out;
}

.acceptable__main .main-grid {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
}

.acceptable__main [data-target-content] {
  display: none;
}

.acceptable__main .active[data-target-content] {
  display: -ms-grid;
  display: grid;
}

.acceptable__main .content-desc {
  padding: 1em 0.5em;
}

.acceptable__main .content-desc__header {
  font-size: 2em;
  margin: 0.5em 0;
}

.acceptable__main .content-desc p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 3em;
  color: var(--text-color);
}

.acceptable__main .content-desc p span {
  color: var(--main-color);
}

.acceptable__main .content-desc .main-type {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.acceptable__main .content-desc .main-type h3 {
  color: var(--main-color);
  text-align: center;
  margin: 0 auto 1.3em;
}

.acceptable__main .content-desc .main-type > li:first-child {
  border-right: 1px solid var(--text-color);
}

.acceptable__main .content-desc .main-type li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-weight: bold;
  color: var(--text-color);
}

.acceptable__main .content-desc .main-type li ul li {
  text-align: center;
  font-size: 1.2em;
}

.acceptable__main .content-img {
  width: 80%;
  margin: 6em auto 0;
}

.acceptable__main .content-img img {
  width: 90%;
}

.care-section {
  text-align: center;
  padding: 1em 0 2em;
}

.care-section h2 {
  font-size: 2em;
}

.care-section h2:after {
  display: block;
  content: "";
  width: 2em;
  height: 3px;
  margin: 10px auto;
  background-color: var(--main-color);
}

.care-section__content {
  padding-top: 1.5em;
  display: -ms-grid;
  display: grid;
  gap: 1em 2em;
  -ms-grid-columns: (minmax(200px, 1fr)) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.care-section__content div {
  position: relative;
}

.care-section__content div p {
  width: 80%;
  font-size: 1.1em;
  line-height: 1.6;
  margin: 0 auto 1em;
  color: var(--text-color);
}

.care-section__content div img {
  border-radius: 50%;
  padding: 3px;
  width: 50%;
  background-color: #f4cecb;
}

.instructions {
  padding: 0.5em 0 4em;
  margin: 1em auto;
}

.instructions-header {
  text-align: center;
  margin-bottom: 3em;
}

.instructions-header h2 {
  font-size: 2em;
  margin: 0.4em 0;
}

.instructions-header h2:after {
  display: block;
  content: "";
  width: 2em;
  height: 3px;
  margin: 10px auto;
  background-color: var(--main-color);
}

.instructions-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr)) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2.5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.instructions-main__desc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 1fr;
  grid-template-columns: 30% 1fr;
  padding: 0.4em;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.09),
    -1px -2px 3px rgba(0, 0, 0, 0.09);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.09), -1px -2px 3px rgba(0, 0, 0, 0.09);
  gap: 0.5em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
}

.instructions-main__desc .left img {
  max-width: 100%;
  border-radius: 50%;
  padding: 2px;
  background-color: #ffcdd2;
}

.instructions-main__desc .right {
  padding-left: 5px;
}

.instructions-main__desc .right h3 {
  margin: 0.4em 0;
  color: var(--main-color);
  font-size: 1em;
}

.instructions-main__desc .right p {
  margin: 0.2em 0;
  color: var(--text-color);
}

/* start footer*/
.footer {
  width: 100%;
}
.footer__containers {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  padding: 4em;
  justify-content: center;
  align-items: center;
}
.footer__h2 {
  font-size: 2.1em;
  color: #2c3e50;
}
.footer__h2:first-letter {
  color: var(--main-color);
}
.footer__h2 span {
  border-top: 4px solid var(--main-color);
}
.footer__h3 {
  width: 71%;
  font-size: 2.1em;
  padding-bottom: 0.5em;
  border-bottom: 3px solid var(--main-color);
  color: #2c3e50;
}
.footer__containers div:first-child {
  padding-top: 1.3em;
  padding-left: 4em;
}
.footer__containers div:last-child {
  padding-left: 7em;
}
.footer__p {
  color: var(--text-color);
}
.footer__icons span {
  padding-right: 1em;
  font-size: 1.3em;
}
.footer__icons span i {
  transition: 0.4s ease-in-out;
}
.footer__icons span:hover i {
  color: var(--main-color);
  cursor: pointer;
}

.footer__input {
  border-radius: 29px;
  background: #dfe6e9;
  height: 57px;
  width: 60%;
  padding-left: 1.5em;
  font-size: 1.2em;
}
.footer__containers form .button {
  padding: 0.6em 0.9em;
  font-weight: 600;
  letter-spacing: 1.3;
}
.footer__quotes {
  width: 100%;
  margin: 0;
  /* padding-top:0.2em;  */
  /* padding-bottom:0.2em;   */
  background: var(--main-color);
  text-align: center;
}
.quotes {
  font-size: 1.3em;
  margin: 0;
  padding: 0.9em 0;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .main-header__desc {
    width: 100%;
  }
  .about {
    padding: 3em 0;
  }
  .about__container {
    width: 90%;
  }
  .acceptable__header p {
    width: 80%;
  }
  .acceptable__header--menu {
    width: 50%;
  }
  .acceptable__main .main-grid {
    -ms-grid-columns: 1fr 40%;
    grid-template-columns: 1fr 40%;
  }
  .acceptable__main .content-img {
    width: 100%;
    margin: 8em auto 0;
  }
}

@media screen and (max-width: 768px) {
  .main-nav ul.main-nav__link {
    display: block;
    z-index: 33;
    position: absolute;
    top: -16px;
    left: -7%;
    background: white;
    height: 100vh;
    width: 50%;
    padding: 30px;
    opacity: 1;
    border-right: 1px solid var(--main-color);
    -webkit-transform: translate(-500px);
    transform: translate(-500px);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .main-nav ul.main-nav__link li {
    font-size: 1.5em;
    padding: 0.8em 0.5em;
  }
  .main-nav__right {
    margin-right: 50px;
  }
  .main-nav.active ul.main-nav__link {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .main-nav .menu-small {
    display: block;
  }
  .main-header {
    margin-bottom: 2em;
  }
  .main-header__desc h2 {
    font-size: 2em;
  }
  .main-header__desc p {
    font-size: 1em;
    line-height: 1.4;
  }
  .main-header__img {
    width: 115%;
    margin-top: 4em;
  }
  .about {
    padding: 1em 0;
  }
  .about__container {
    width: 100%;
  }
  .acceptable {
    padding: 2em 0;
  }
  .acceptable__header p {
    width: 90%;
  }
  .acceptable__header--menu {
    width: 70%;
  }
  .acceptable__main .content-img img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .main-nav {
    margin-bottom: 1em;
  }
  .main-nav ul.main-nav__link {
    width: 50%;
  }
  .main-nav ul.main-nav__right {
    margin-right: 15px;
  }
  .main-nav ul.main-nav__right li {
    display: none;
  }
  .main-nav ul.main-nav__right li.user-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 6px;
  }
  .main-nav ul.main-nav__right li.user-btn i {
    color: var(--second-color);
  }
  .main-nav .menu-small {
    top: 22px;
    right: -14px;
  }
  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main-header__desc {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 2em 0;
    height: 200px;
  }
  .main-header__desc h2 {
    text-align: center;
    margin: auto;
    letter-spacing: 2px;
  }
  .main-header__desc p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.4;
    margin: 1em auto;
    width: 90%;
  }
  .main-header__desc a {
    margin: auto;
  }
  .main-header__img {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    width: 80%;
    margin: auto;
    margin-top: 0;
  }
  .about h2 {
    font-size: 1.6em;
  }
  .about p {
    width: 100%;
    font-size: 16px;
  }
  .about a.button {
    margin: 0 auto 1.2em;
  }
  .acceptable {
    padding: 2em 0;
    margin: 2em auto;
  }
  .acceptable__header p {
    width: 100%;
  }
  .acceptable__header--menu {
    width: 100%;
  }
  .acceptable__main {
    padding-top: 0;
  }
  .acceptable__main .main-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .acceptable__main .content-desc__header {
    text-align: center;
    margin: 0.7em 0;
  }
  .acceptable__main .content-img {
    display: none;
  }
  .instructions-main {
    gap: 1em;
  }
  .instructions-main__desc {
    padding: 0;
  }
  .instructions-main__desc .right h3 {
    text-align: center;
  }
  .instructions-main__desc .right p {
    width: 80%;
    text-align: center;
    margin: auto;
  }
}

.loader-page {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader-page .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(6);
  transform: translate(-50%, -50%) scale(6);
}

.loader-page .loader svg polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loader-page .loader svg polyline#back {
  stroke: rgba(243, 11, 11, 0.3);
}

.loader-page .loader svg polyline#front {
  stroke: #9c050e;
  stroke-dasharray: 12, 36;
  stroke-dashoffset: 48;
  -webkit-animation: dash 1.5s linear infinite;
  animation: dash 1.5s linear infinite;
}

@-webkit-keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
