* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --backgroundColor: #f2f5fa;
  --main-color: #0f1048;
  --second-color: #4b48b1;
  --text-color: #7375a8;
  --alertColor: #eb4d4b;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-bottom: 10rem;
}

.img img {
  width: 500px;
}

form {
  width: 360px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--second-color);
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -10px;
  font-size: 15px;
  color: #444141;
}

.input-div.focus > .i > i {
  color: var(--second-color);
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #423c3c;
  font-size: 0.9rem;
  transition: 0.3s;
}

a:not(a.btn):hover {
  color: var(--second-color);
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: var(--second-color);
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}

a.btn {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p {
  position: relative;
}
.p_border:after,
.p_border:before {
  content: "";
  position: absolute;
  border: 1px solid var(--alertColor);
  width: 39%;
  top: 50%;
  right: 6%;
}
.p_border:before {
  left: 6%;
}
.login-content .title_font {
  font-size: 1.6rem;
  text-transform: none;
}

/* start error  message*/
.user-message {
  color: var(--alertColor);
}





@media screen and (max-width: 900px) {
  .img  img{
    display: none;
  }
  .login-content {
    justify-content: center;
  }
  .container {
    grid-template-columns: 1fr;
    grid-gap:0;

  }
  form{
    width:97%;
  }







  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
}
