<%- include('../includes/navigation.ejs') %>
<section class="main">
  <div class="main-content tabcontent" id="patient">
    <div class="new-items">
      <div class="new-items_conatiner">
        <h2>new donar</h2>
        <p class="red">donar info</p>
        <form action="/add-donor" method="POST" class="new-items_form">
          <label class="new-items_label" for="donorName">Donor Name</label>
          <input class="new-items_input" type="text" name="donorName" id="donorName" />

          <label class="new-items_label" for="nationalId">National Id</label>
          <input class="new-items_input" type="number" name="nationalId" id="nationalId" />

          <label class="new-items_label" for="phoneNumber">Phone Number</label>
          <input class="new-items_input" type="number" name="phoneNumber" id="phoneNumber" />

          <label class="new-items_label" for="address">Address</label>
          <input class="new-items_input" type="text" name="address" id="address" />

          <label class="new-items_label" for="email">E-mail</label>
          <input class="new-items_input" type="email" name="email" id="email" />

          <label class="new-items_label" for="bloodType">Blood Type</label>
          <select class="new-items_select type" name="bloodType" id="bloodType">
            <option value="a+">a+</option>
            <option value="a-">a-</option>
            <option value="o+">o+</option>
            <option value="o-">o-</option>
            <option value="b+">b+</option>
            <option value="b-">b-</option>
            <option value="ab+">ab+</option>
            <option value="ab-">ab-</option>
          </select>

          <label class="new-items_label" for="donationDay">Donation Day</label>
          <input class="new-items_input" type="date" name="donationDay" id="donationDay" />
          
          <label class="new-items_label" for="nextDonationDay">Next Donation Day</label>
          <input class="new-items_input" type="date" name="nextDonationDay" id="nextDonationDay"  />

          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button class="add-new add-new_float addnewrs" type="submit">Submit</button>

        </form>
      </div>
    </div>
  </div>
</section>
<%- include('../includes/addNextDonation.ejs') %>